body {
	 background: url("../img/bg2.png");
	 background-attachment: fixed;	
}

.arabic {
	font-family: 'Intro', sans-serif;	
	font-weight: normal;
	font-style: normal;
}

.wrapper {
	background: #F2F2F2;
	padding: 0px 20px 0 20px;
	width: 960px;
	margin: 0 auto;
	border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
} 

.logo {
	display: block;
	width: 239px;
	height: 87px;
	background: transparent;
	font-size: 0px; 
	margin-left: 28px;
	position: relative;
	z-index: 10;
}

.top-menu-block 
{
	position: relative;
	
}

.top-menu {
	display: inline;
    float: right;
    list-style: none outside none;
    position: absolute;
    right: -20px;
    top: 57px;
    
}

.top-menu li {
	float: left;
	margin-left: 20px;
}

.top-menu li a {
	font-family: 'Intro', sans-serif;
	/*
	color: #fff;
	
	*/
	color: #02801A;
	font-size: 18px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
		
}

.top-menu li a:hover {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
	text-decoration: none; 
	
}

.second-row {	
	margin-bottom: 50px;
}

.main-search {
	width: 220px;
	background-color: #006916; 
	border: 20px solid #02801a;	
	float: left;
	padding: 10px;
	position: relative;
	
	-webkit-box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: inset    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow: inset         0px 0px 5px rgba(50, 50, 50, 0.75);
}

.custom_select {
	background: #02801A url("../img/arrow_down.png") 187px 9px no-repeat;   
    height: 38px;
    margin-bottom: 11px;
    overflow: hidden;
    width: 220px; 
}

.custom_select select {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #fff;
    height: 38px;
    margin: 0;
    padding: 9px;
    width: 245px; 
    outline: 0;    
}

.custom_select select option {
	background: #02801A;
}

.custom_input {
	height: 38px;
    margin-bottom: 11px;
    
	background: #02801A;  		
}

.date_input {
	margin-bottom: 11px;
}

.date_input label {
	color: #aaa;
}

.year-selector {
	width: 220px !important;
	background: #02801A !important;
}

.year {
	color: #fff;
}



.custom_input input {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #fff;
    height: 20px;
    margin: 0;
    padding: 9px;    
    outline: 0;  
}

.custom_input input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
}

.custom_select:hover {
	background-position: 187px 11px;	
}

.main-search-triangle {
	background: url("../img/triangle.png") top left no-repeat;
	width: 16px;
	height: 20px;
	position: absolute;
    right: -36px;
    top: -24px;
}

.main-search-top {
	position: absolute;
	background: url("../img/search_top.png") center top no-repeat;
	top: -110px;
    height: 100px;
    left: -10px;    
    width: 262px;
}

.main-search-top-inner {
	position: absolute;
	background: url("../img/search_top.png") center top no-repeat;
	top: -90px;
    height: 100px;
    left: 10px;    
    width: 262px;
}

.main-search-top-movie {
	position: absolute;
	background: url("../img/search_top.png") center top no-repeat;
	top: -90px;
    height: 100px;
    left: 30px;    
    width: 262px;
}

.main-search-bottom {
	position: absolute;
	background: url("../img/search_bottom.png") center top no-repeat;
	bottom: -120px;
    height: 100px;
    left: -10px;    
    width: 262px;
}


.top-slideshow {
	float: right;
	width: 680px;
	padding-top: 16px;
}

.top-slideshow .item{height:340px; }


.carousel-caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); 
}

.carousel-control {
	outline: none;
}

.slide-description{padding:0px 15px; text-align: right}
.slide-description h4 {font-size: 24px; text-shadow: 0px 1px 0px rgba(0, 0, 0, 1); }
.slide-description p{font-size: 12px; font-style: italic; text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);}
.slide-buttonset{position: absolute; bottom:15px; right:15px;}


.main-content{ 	   
    min-height: 600px;
    position: relative;
    width: 960px;   
}

.main-content-block {
	margin-bottom: 10px;
	overflow: hidden;
}

.title-big {
	font-size: 28px;
    text-align: right;
}

.filter-buttons{
	height: 40px;
	width: 960px;
	padding: 16px 0px 4px 0px;
	background: rgba(255,255,255,0.8);
	z-index: 100;
	top: 0;
}

.btn-dotted,
.btn-dotted:active,
.btn-dotted[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-dotted {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-dotted .dots {
	border-bottom: 1px dotted #0088cc; 
}

.btn-dotted:hover .dots {
	border-bottom: none; 
}

.btn-dotted:hover {
  color: #005580;
  text-decoration: none;
  background-color: transparent;
}

.btn-dotted[disabled]:hover {
  color: #333333;
  text-decoration: none;
}

.movies-list {list-style: none; padding: 0px; margin: 0px; display: block;}
.movies-list li {
	display: block;
	text-align: center;	
	background: transparent;
	padding: 0;	
	margin: 0;	
	position: relative;
	
}

.movies-list .movie-info {	
	
	font-size: 90%;	
	text-align: left;
	
}

.movies-list .portrait .movie-info .movie-params  {
	
}

.movies-list .landscape .movie-info .movie-params  {
	width: 210px;
	padding: 0px 5px;
}

.movies-list .movie-info .movie-name {
	height: 40px;
	font-weight: bold;
	font-size: 110%;
	padding-top: 5px;
	text-align: center;
}

.movies-list .portrait .movie-info {
	padding-top: 2px;	
}

.movies-list .portrait .movie-title {
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.movies-list .portrait .movie-title:hover {
	color: #006916;
}

.movies-list .landscape .movie-info {
	top: 55px; 	
}

.movies-list li:hover .movie-info {
	top: 0px;
}

.movies-list .landscape {
	width: 220px;
	height: auto;
	margin: 0px 0px 20px 0px;
}

.movies-list .portrait {
	width: 143px;
	height: auto;
	/*float: left;*/
	display: inline-table;
	margin: 0px 16px 20px 0px;
	overflow: hidden;
}  

.movies-list .portrait .img {
	width: 100%;
	height: 215px;
	background-position: 50% top; 
	background-repeat: no-repeat;
	background-size: cover ;
}
.movies-list .portrait .play-button {
	position: absolute;
	width:60px;
	height: 60px;
	top: 72px;
	left: 40px;
	background: #fff url("../img/play_button.png") 2px center no-repeat;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 6px rgba(0, 0, 0, 0.75);
	
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
	display: none;
}

.movies-list .portrait:hover .play-button {
	display: block;
}
 

.movies-list :nth-child(6n+0) {
	margin-right: 0px;
}

.video-container {
	height: 500px;
	background: black;
	width: 960px;
	
}

.movie-top {
	overflow: hidden;	
}

.movie-header {
	float: left;
}

.movie-age-limit {
	background: #cacaca;
	color: #FFF;
	width: 42px;
	height: 35px;
	padding: 6px;
	font-size: 25px;
	line-height: 40px;
	float: right;
}

.movie-attributes {
	list-style: none;
	display: block;	
	padding: 0;
	margin: 0;
	
}

.movie-attributes li {
	display: table-row;
}

.movie-attributes li .key, .movie-attributes li .value {
	display: table-cell;
	padding: 2px 20px 2px 0px; 
}

.movie-buttons {
	padding: 20px 0;
}

.movie-description {
	padding: 20px 0;
	text-align: justify;
}

.movie-description p {
	margin-bottom: 5px;
}


.footer{
	background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
}

.movies-result-list {
	width: 960px !important;
	position: relative;
}

.textHeader {
	margin: 20px 0;
}